/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#site {
  width: 60%;
}

body > #header {
  /*background-color: #89C4F4;*/
  background-color: #22313F;
  color: white;
}

body > #header #header-container {
  margin-left: 0;
  margin-right: 0;
}

#notebook-container { 
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
}

div#notebook {
  padding-top: 0;
}

.notebook_app {
  background-color: #fff;
}

.sidebar {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  position: fixed;
  background: white;
  right: 0;
  bottom: 0;
  top: 50px;
  width: 40%;
  overflow: scroll;
  padding: 0 30px 20px 30px;
  border-left: 2px solid #ddd;
}

.sidebar li, .sidebar p {
  margin-bottom: 10px;
}

/*.sidebar h1, .sidebar h2, .sidebar h3, .sidebar p {
  font-family: 'Merriweather', serif;
}*/

div.cell {
  border: 0;
  padding: 0;
}

div.cell.selected {
  border-color: transparent;
  border-width: 0; 
  padding-left: 0;
}

div.input_area {
  border: none;
  border-radius: 0;
  /*background: transparent;*/
}

.output_wrapper {
  background: #f7f7f7;
}

div.output_area {
  background: white;
  border-left: 1px solid #ddd;
  margin-left: 34px;
}

div.out_prompt_overlay {
  display: none!important;
}

.edit_mode div.cell.selected {
  padding-left: 0;
}

.prompt.output_prompt {
  display: none!important;
}

.CodeMirror {
  background-color: white;
}

.CodeMirror-lines {
  padding-bottom: 0;
  padding-top: 0;
}

.CodeMirror-linenumber {
  padding: 1px 8px 0 5px;
  left: -0.7em!important;
  color: #c8d2d7;
  font-size: 10px;
  text-align: right;
}

.rendered .CodeMirror-gutters {
  border-right: 2px solid #26A65B; /*green;*/
  background-color: rgba(38,166,91,0.15);
}

.rendered .CodeMirror-linenumber {
  color: #26A65B;
}

.selected .CodeMirror-gutters {
  border-right: 2px solid #4183D7; /*blue;*/
  background-color: rgba(65,131,215,0.15);
}

.selected .CodeMirror-linenumber {
  color: #4183D7;

}

.selected .CodeMirror-gutters .CodeMirror-gutter, .rendered .CodeMirror-gutters .CodeMirror-gutter {
  width: 33px!important;
}

.selected .CodeMirror-activeline .CodeMirror-linenumber {
  background-color: rgba(65,131,215,0.3);
}

.CodeMirror-activeline-background {
  background-color: transparent;
}

/*.CodeMirror-activeline {
  left: -0.4em;
  padding-left: 0.4em;
}*/

/*.CodeMirror-activeline .CodeMirror-gutter-wrapper {
  left: -29.5px!important;
}*/


div.output_subarea {
  max-width: 100%;
}